@import '../../styles/variables.scss';

.page-header__exchange-rates {
    display: none;
}

@media (min-width: $tablet-width) {

    .page-header__exchange-rates {
        display: flex;
        flex-direction: column;


        p{
            height: 20px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 12px;
            opacity: 1;

            &:last-child {
                margin-bottom: 20px;
            }
        }
    }

}

@media (min-width: $desktop-width) {
    .page-header__exchange-rates {
        p{
            font-size: 12px;
        }
    }

}